.git
.github
.cursor
.expo
.vscode
.idea
.webdev
.cache
data
dist
dist-web
dist-web-test
dist-android-test
node_modules
ios
android
app-example
copy-of-ur
__tests__
*.md
*.log
.env
.env.*
!.env.example
!.env.media.example
